@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --lightblue: #52d3f0;
  --floweryellow: #ffcf40;
  --oceanblue: #1ca2c1;
  --black: #252525;
  --lightgray: #e8e8e8;
  --minecraftgreen: #019101;
  --white: #f6f5f2;
}

* {
  font-family: "Montserrat", serif;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap1rem {
  gap: 1rem;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.header-button {
  height: 50px;
  padding: 5px 10px;
  border: 2px solid var(--oceanblue);
  border-radius: 25px;
  background-color: white;
  color: var(--oceanblue);
}

.header-button:hover {
  background-color: var(--oceanblue);
  color: var(--white);
}

.box-shadow {
  box-shadow: 0px 0px 10px 5px var(--lightgray);
}

.paragraph span {
  margin-right: 5px;
}

.blo-link {
  color: var(--oceanblue);
  font-size: small;
}

.rate-box {
  padding: 3px 5px;
  color: white;
  background-color: var(--minecraftgreen);
  border-radius: 5px;
}

.rate {
  display: flex;
  gap: 5px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
header a {
  grid-column: 1/2;
}
header a img {
  width: 70px;
}
header nav {
  grid-column: 3/4;
  margin-right: 20px;
}
header nav ul {
  align-items: center;
  justify-content: space-between;
}
header nav ul li i {
  font-size: 20px;
}

main {
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}
main section {
  width: 100%;
}

.forside #sea-image {
  width: 100%;
  height: 300px;
  background-image: url(../img/sea-4768869_1920.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 30% 30%;
}
.forside main .bestilling-form {
  background-color: white;
  width: 90%;
  margin: -250px auto 20px;
  padding: 10px;
  border-radius: 10px;
}
.forside main .bestilling-form nav ul {
  overflow: auto;
  white-space: nowrap;
  margin: 10px 5px;
}
.forside main .bestilling-form nav ul li {
  padding: 3px;
}
.forside main .bestilling-form nav ul li .selected {
  border-bottom: 3px solid var(--oceanblue);
}
.forside main .bestilling-form form {
  flex-direction: column;
  gap: 10px;
}
.forside main .bestilling-form form fieldset select,
.forside main .bestilling-form form fieldset input {
  border: none;
  width: 100%;
  font-size: 20px;
  color: gray;
}
.forside main .bestilling-form form button {
  width: 100%;
  border-radius: 5px;
  background-color: var(--floweryellow);
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.forside main .reklameskilt {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../img/holiday-2733322_1280.jpg);
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
}
.forside main .reklameskilt article {
  width: 100%;
  background-color: var(--lightblue);
  border-radius: 0px 10px;
  padding: 20px;
  margin: 10px 0;
  display: inline-block;
}
.forside main .reklameskilt article strong {
  font-size: 30px;
  font-weight: 800;
}
.forside main .reklameskilt button {
  padding: 10px 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--floweryellow);
}
.forside main .tilbudseksjon {
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  width: 90%;
  overflow: auto;
  white-space: nowrap;
  padding: 30px 5px;
}
.forside main .tilbudseksjon article {
  width: auto;
  height: 150px;
  padding: 15px;
  border-radius: 10px;
}
.forside main .tips-inspirasjon {
  width: 90%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto 1fr 1fr;
  gap: 1rem 1rem;
}
.forside main .tips-inspirasjon article {
  justify-self: center;
  align-self: stretch;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 5px;
  margin: auto;
}
.forside main .tips-inspirasjon article figure {
  position: relative;
  margin: 0;
}
.forside main .tips-inspirasjon article figure img {
  width: 100%;
}
.forside main .tips-inspirasjon article figure span {
  position: absolute;
  left: 0;
  padding: 10px;
  background-color: var(--oceanblue);
  color: var(--white);
  border-radius: 0 0 20px 0;
}
.forside main .tips-inspirasjon article h3,
.forside main .tips-inspirasjon article p {
  margin: 10px 10px 20px;
}
.forside main .tips-inspirasjon article a {
  border-bottom: 4px solid var(--oceanblue);
}

.hotellside main .image-gallery {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.hotellside main .image-gallery .images {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.hotellside main .image-gallery .images figure {
  height: auto;
  margin: 0;
  flex: 0 0 100%;
}
.hotellside main .image-gallery .images figure img {
  height: 100%;
  width: 100%;
}
.hotellside main .image-gallery .navigasjonsknapp {
  position: absolute;
  margin: 5px;
  z-index: 1;
}
.hotellside main .image-gallery .hjerte {
  top: 10px;
  right: 10px;
  border: none;
  background-color: var(--white);
  border-radius: 25px;
  font-size: 20px;
  padding: 5px 7px;
}
.hotellside main .image-gallery .hjerte:hover {
  background-color: var(--lightgray);
}
.hotellside main .image-gallery span {
  right: 10px;
  bottom: 10px;
  background-color: var(--black);
  color: var(--white);
  opacity: 0.4;
  padding: 5px;
  border-radius: 25px;
}
.hotellside main .image-gallery span i {
  padding-right: 5px;
}
.hotellside main .image-gallery .venstre,
.hotellside main .image-gallery .hoyre {
  background-color: var(--black);
  color: var(--white);
  opacity: 0.7;
  padding: 5px 9px;
  border: 0;
  border-radius: 25px;
}
.hotellside main .image-gallery .venstre {
  top: 50%;
  left: 0;
}
.hotellside main .image-gallery .hoyre {
  top: 50%;
  right: 0;
}
.hotellside main .navigasjon nav {
  margin-top: 10px;
  border-bottom: 3px solid var(--lightgray);
}
.hotellside main .navigasjon nav ul {
  margin: 0;
}
.hotellside main .navigasjon nav ul li {
  padding: 1rem;
}
.hotellside main .navigasjon nav ul .checked {
  border-bottom: 2px solid var(--lightblue);
}
.hotellside main .beskrivelse {
  padding: 10px;
}
.hotellside main .beskrivelse .tilbyer {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.hotellside main .beskrivelse .kart iframe {
  width: 100%;
  height: 300px;
}
.hotellside main .velg-rom {
  width: 90%;
  margin: 20px auto 0;
}
.hotellside main .velg-rom .card {
  margin: 1rem auto;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
}
.hotellside main .velg-rom .card figure {
  margin: 0;
}
.hotellside main .velg-rom .card figure img {
  width: 100%;
}
.hotellside main .velg-rom .card h3,
.hotellside main .velg-rom .card strong,
.hotellside main .velg-rom .card p {
  margin: 10px 10px 20px;
}
.hotellside main .velg-rom .card h3,
.hotellside main .velg-rom .card strong {
  font-size: 20px;
}
.hotellside main .velg-rom .total-summer {
  position: sticky;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  align-items: center;
  background-color: var(--white);
}
.hotellside main .velg-rom .total-summer aside h3,
.hotellside main .velg-rom .total-summer aside p {
  margin: 5px 0;
}
.hotellside main .velg-rom .total-summer aside h3 {
  font-size: 30px;
  font-weight: 800;
}
.hotellside main .velg-rom .total-summer button {
  border-radius: 30px;
  border: none;
  background-color: var(--oceanblue);
  color: var(--white);
  font-size: 20px;
  padding: 10px 15px;
}

.betalingsside main nav ul {
  background-color: var(--oceanblue);
  color: var(--white);
  align-items: center;
  overflow-x: auto;
  padding: 5px 15px;
  white-space: nowrap;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.betalingsside main nav ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.betalingsside main nav ul li a {
  color: var(--white);
  font-size: 20px;
}
.betalingsside main nav ul li a strong {
  font-size: 25px;
}
.betalingsside main nav ul li i {
  font-size: 35px;
}
.betalingsside main .valgte-hotell {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px var(--lightgray);
  width: 90%;
  margin: 20px auto;
  padding: 15px 5px;
}
.betalingsside main .valgte-hotell label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.betalingsside main .valgte-hotell article {
  display: none;
  margin-top: 20px;
}
.betalingsside main .valgte-hotell article figure {
  width: 90%;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.betalingsside main .valgte-hotell article figure img {
  width: 100%;
}
.betalingsside main .valgte-hotell article p i {
  margin-right: 1rem;
}
.betalingsside main .valgte-hotell label:has(input:checked) + article {
  display: block;
}
.betalingsside main .opplysninger {
  width: 90%;
  margin: 1rem auto;
}
.betalingsside main .opplysninger fieldset {
  border: none;
  border-radius: 10px;
  background-color: var(--white);
  margin: 10px auto;
}
.betalingsside main .opplysninger fieldset legend {
  font-size: 20px;
}
.betalingsside main .opplysninger fieldset label {
  display: block;
  margin: 10px 0;
  font-size: 20px;
}
.betalingsside main .opplysninger fieldset input,
.betalingsside main .opplysninger fieldset select {
  width: 100%;
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  font-size: 15px;
  padding: 7px;
}
.betalingsside main .opplysninger fieldset .field {
  width: 100%;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.betalingsside main .opplysninger fieldset .field label {
  display: flex;
}
.betalingsside main .opplysninger button {
  border: none;
  border-radius: 5px;
  background-color: var(--floweryellow);
  font-size: 15px;
  padding: 15px;
}

footer {
  margin-top: auto;
  background-color: var(--black);
  color: var(--lightgray);
  justify-content: center;
  padding: 20px;
}
footer section {
  margin-bottom: 20px;
}
footer .flagg-seksjon {
  justify-content: center;
}
footer .flagg-seksjon ul {
  flex-wrap: wrap;
  justify-content: center;
}
footer .flagg-seksjon ul li {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 1rem;
}
footer .flagg-seksjon ul li img {
  width: 30px;
}
footer .betalingsmetoder figure {
  margin: 0;
}
footer .betalingsmetoder figure i {
  font-size: 30px;
  padding: 0 5px;
}
footer .nyheter form {
  display: inline-block;
}
footer .nyheter form fieldset {
  padding: 20px 10px;
  display: inline-block;
  border: 2px solid var(--white);
}
footer .nyheter form fieldset input {
  padding: 7px 5px;
  border-radius: 10px;
  margin: 0 2px;
}
footer .nyheter form fieldset input[type=submit] {
  background-color: var(--floweryellow);
}
footer .kundeservice ul li {
  margin: 4px 0;
}
footer .kundeservice ul li a {
  color: var(--white);
}
footer .sosialemedier ul li a {
  color: var(--white);
}
footer .sosialemedier ul li a i {
  font-size: 30px;
}

@media (min-width: 1000px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  .flex.desktop-only {
    display: flex;
  }
  header {
    width: 100%;
    box-shadow: 0px 10px 12px 0px var(--lightgray);
  }
  header a img {
    width: 120px;
  }
  header nav ul li i {
    font-size: 25px;
  }
  main {
    max-width: 1400px;
  }
  .forside #sea-image {
    height: 150px;
  }
  .forside main .bestilling-form {
    margin: -80px auto 20px;
  }
  .forside main .bestilling-form form {
    flex-direction: row;
  }
  .forside main .bestilling-form form fieldset {
    border-radius: 10px;
  }
  .forside main .bestilling-form form fieldset input[type=number],
  .forside main .bestilling-form form fieldset [type=date] {
    width: 150px;
  }
  .forside main .bestilling-form form .colum {
    gap: 10px;
  }
  .forside main .bestilling-form form .colum fieldset select {
    width: 200px;
  }
  .forside main .bestilling-form form button {
    width: 300px;
  }
  .forside main .reklameskilt {
    background-position: 50%;
  }
  .forside main .reklameskilt article {
    width: 600px;
    height: 300px;
  }
  .forside main .tilbudseksjon {
    width: 100%;
  }
  .forside main .tips-inspirasjon {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .forside main .tips-inspirasjon h2 {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .hotellside main .image-gallery .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  .hotellside main .image-gallery .images .big-image1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .hotellside main .image-gallery .images .big-image2 {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .hotellside main .image-gallery .images figure {
    height: auto;
  }
  .hotellside main .image-gallery .venstre,
  .hotellside main .image-gallery .hoyre {
    display: none;
  }
  .hotellside main .colum-hotell {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "oversikt kart" "fasiliteter kart" "tilbyer kart";
  }
  .hotellside main .colum-hotell .oversikt {
    grid-area: oversikt;
  }
  .hotellside main .colum-hotell .fasiliteter {
    grid-area: fasiliteter;
  }
  .hotellside main .colum-hotell .tilbyer {
    grid-area: tilbyer;
  }
  .hotellside main .colum-hotell .kart {
    justify-self: center;
    grid-area: kart;
  }
  .hotellside main .colum-hotell .kart iframe {
    border-radius: 10px;
  }
  .hotellside main .velg-rom {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr auto;
    gap: 2rem;
  }
  .hotellside main .velg-rom .title {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .hotellside main .velg-rom .total-summer {
    grid-row: 4/5;
    grid-column: 1/4;
  }
  .betalingsside main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
  }
  .betalingsside main nav {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .betalingsside main nav ul li {
    font-size: 30px;
  }
  .betalingsside main nav ul li a {
    font-size: 25px;
  }
  .betalingsside main nav ul li a strong {
    font-size: 30px;
    font-weight: 700;
  }
  .betalingsside main .valgte-hotell {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .betalingsside main .valgte-hotell label {
    display: none;
  }
  .betalingsside main .valgte-hotell article {
    display: block;
  }
  .betalingsside main .opplysninger {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .betalingsside main .opplysninger fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .betalingsside main .opplysninger fieldset .field {
    grid-column: 1/3;
  }
  footer {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "flag flag flag flag" "betalingsmetoder nyhet kundeservice sms";
  }
  footer .item1 {
    grid-area: flag;
  }
  footer .item2 {
    grid-area: betalingsmetoder;
  }
  footer .item3 {
    grid-area: nyhet;
  }
  footer .item4 {
    grid-area: kundeservice;
  }
  footer .item5 {
    grid-area: sms;
  }
}/*# sourceMappingURL=style.css.map */