@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
:root {
  --lightblue: #52d3f0;
  --floweryellow: #ffcf40;
  --oceanblue: #1ca2c1;
  --black: #252525;
  --lightgray: #e8e8e8;
  --minecraftgreen: #019101;
  --white: #f6f5f2;
}

* {
  font-family: "Montserrat", serif;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap1rem {
  gap: 1rem;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.header-button {
  height: 50px;
  padding: 5px 10px;
  border: 2px solid var(--oceanblue);
  border-radius: 25px;
  background-color: white;
  color: var(--oceanblue);
}

.header-button:hover {
  background-color: var(--oceanblue);
  color: var(--white);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
header a {
  grid-column: 1/2;
}
header a img {
  width: 70px;
}
header nav {
  grid-column: 3/4;
  margin-right: 20px;
}
header nav ul {
  align-items: center;
  justify-content: space-between;
}
header nav ul li i {
  font-size: 20px;
}

main {
  max-width: 1000px;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  flex-direction: column;
}
main section {
  width: 100%;
}

.forside #sea-image {
  width: 100%;
  height: 300px;
  background-image: url(../img/sea-4768869_1920.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 30% 30%;
  background-repeat: no-repeat;
}
.forside main .bestilling-form {
  background-color: white;
  width: 90%;
  margin: -250px auto 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px var(--lightgray);
}
.forside main .bestilling-form nav ul {
  overflow: auto;
  white-space: nowrap;
  margin: 10px 5px;
}
.forside main .bestilling-form nav ul li {
  padding: 3px;
}
.forside main .bestilling-form nav ul li .selected {
  border-bottom: 3px solid var(--oceanblue);
}
.forside main .bestilling-form form {
  flex-direction: column;
  gap: 10px;
}
.forside main .bestilling-form form fieldset select,
.forside main .bestilling-form form fieldset input {
  border: none;
  width: 100%;
  font-size: 20px;
  color: gray;
}
.forside main .bestilling-form form button {
  width: 100%;
  border-radius: 5px;
  background-color: var(--floweryellow);
  border: none;
  font-size: 20px;
  padding: 10px;
}
.forside main .reklameskilt {
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/holiday-2733322_1280.jpg);
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
}
.forside main .reklameskilt article {
  background-color: var(--lightblue);
  border-radius: 0px 10px;
  padding: 20px;
  margin: 10px 0;
  display: inline-block;
}
.forside main .reklameskilt article strong {
  font-size: 30px;
  font-weight: bolder;
}
.forside main .reklameskilt button {
  padding: 10px 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--floweryellow);
}
.forside main .tilbudseksjon {
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  width: 90%;
  overflow: auto;
  white-space: nowrap;
  padding: 30px 5px;
}
.forside main .tilbudseksjon article {
  width: auto;
  height: 150px;
  box-shadow: 0px 0px 10px 5px var(--lightgray);
  padding: 15px;
  border-radius: 10px;
}
.forside main .tips-inspirasjon {
  width: 90%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem 1rem;
}
.forside main .tips-inspirasjon article {
  justify-self: center;
  align-self: stretch;
  box-shadow: 0px 0px 10px 5px var(--lightgray);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 5px;
  margin: auto;
}
.forside main .tips-inspirasjon article figure {
  position: relative;
  margin: 0;
}
.forside main .tips-inspirasjon article figure img {
  width: 100%;
}
.forside main .tips-inspirasjon article figure span {
  position: absolute;
  left: 0;
  padding: 10px;
  background-color: var(--oceanblue);
  color: var(--white);
  border-radius: 0 0 20px 0;
}
.forside main .tips-inspirasjon article h3,
.forside main .tips-inspirasjon article p {
  margin: 10px 10px 20px;
}
.forside main .tips-inspirasjon article a {
  border-bottom: 4px solid var(--oceanblue);
}

footer {
  margin-top: auto;
  background-color: var(--black);
  color: var(--lightgray);
  justify-content: center;
  padding: 20px;
}
footer section {
  margin-bottom: 20px;
}
footer .flagg-seksjon {
  justify-content: center;
}
footer .flagg-seksjon ul {
  flex-wrap: wrap;
  justify-content: center;
}
footer .flagg-seksjon ul li {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 1rem;
}
footer .flagg-seksjon ul li img {
  width: 30px;
}
footer .betalingsmetoder figure {
  margin: 0;
}
footer .betalingsmetoder figure i {
  font-size: 30px;
  padding: 0 5px;
}
footer .nyheter form {
  display: inline-block;
}
footer .nyheter form fieldset {
  padding: 20px 10px;
  display: inline-block;
  border: 2px solid var(--white);
}
footer .nyheter form fieldset input {
  padding: 7px 5px;
  border-radius: 10px;
  margin: 0 2px;
}
footer .nyheter form fieldset input[type=submit] {
  background-color: var(--floweryellow);
}
footer .kundeservice ul li {
  margin: 4px 0;
}
footer .kundeservice ul li a {
  color: var(--white);
}
footer .sosialemedier ul li a {
  color: var(--white);
}
footer .sosialemedier ul li a i {
  font-size: 30px;
}

@media (min-width: 1000px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  .flex.desktop-only {
    display: flex;
  }
  header {
    width: 100%;
  }
  header a img {
    width: 120px;
  }
  header nav ul li i {
    font-size: 25px;
  }
  .forside #sea-image {
    height: 150px;
  }
  .forside main {
    max-width: 1400px;
  }
  .forside main .bestilling-form {
    margin: -80px auto 20px;
  }
  .forside main .bestilling-form form {
    flex-direction: row;
  }
  .forside main .bestilling-form form fieldset {
    border-radius: 10px;
  }
  .forside main .bestilling-form form fieldset input[type=number],
  .forside main .bestilling-form form fieldset [type=date] {
    width: 150px;
  }
  .forside main .bestilling-form form .colum {
    gap: 10px;
  }
  .forside main .bestilling-form form .colum fieldset select {
    width: 200px;
  }
  .forside main .bestilling-form form button {
    width: 300px;
  }
  .forside main .reklameskilt {
    align-items: flex-end;
    background-position: 50%;
  }
  .forside main .reklameskilt article {
    width: 600px;
    height: 300px;
  }
  .forside main .tilbudseksjon {
    width: 100%;
  }
  .forside main .tips-inspirasjon {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  footer {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "flag flag flag flag" "betalingsmetoder nyhet kundeservice sms";
  }
  footer .item1 {
    grid-area: flag;
  }
  footer .item2 {
    grid-area: betalingsmetoder;
  }
  footer .item3 {
    grid-area: nyhet;
  }
  footer .item4 {
    grid-area: kundeservice;
  }
  footer .item5 {
    grid-area: sms;
  }
}/*# sourceMappingURL=style.css.map */