//har skjekket på youtube hvordan kan jeg importere google font: youtube video ligger i referancen
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//Jeg spurte chagpt at hvordan kan jeg lage farge variabel
:root {
  --lightblue: #52d3f0;
  --floweryellow: #ffcf40;
  --oceanblue: #1ca2c1;
  --black: #252525;
  --lightgray: #e8e8e8;
  --minecraftgreen: #019101;
  --white: #f6f5f2;
}

* {
  font-family: "Montserrat", serif;
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)
    format(truetype);
  //spurte chatgpt hvordan kan jeg unngå å overflyte header og reklameskilt og chatgpt ambefalte bo-sizing border-box
  box-sizing: border-box;
}

//css tag og class for common use
ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap1rem {
  gap: 1rem;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.header-button {
  height: 50px;
  padding: 5px 10px;
  border: 2px solid var(--oceanblue);
  border-radius: 25px;
  background-color: white;
  color: var(--oceanblue);
}

.header-button:hover {
  background-color: var(--oceanblue);
  color: var(--white);
}

.box-shadow {
  //søkte "box shadow custom" og fant boxshadow code generator og brukte den
  box-shadow: 0px 0px 10px 5px var(--lightgray);
}

.paragraph {
  span {
    margin-right: 5px;
  }
}
.blo-link {
  color: var(--oceanblue);
  font-size: small;
}

.rate-box {
  padding: 3px 5px;
  color: white;
  background-color: var(--minecraftgreen);
  border-radius: 5px;
}

.rate {
  display: flex;
  gap: 5px;
}

//hoved felles html styles her

//har letet etter hvordan kan jeg sette footer på bunnen fast og fant youtube video forteller hvordan man gjør det lenken ligger i referance"sticky footer"
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  //her lagde jeg grid funksjon ved å se på youtube video handler om grid video lenken ligger i kilde seksjon i rapport
  grid-template-columns: auto 1fr auto;
  align-items: center;
  a {
    grid-column: 1/2;

    img {
      width: 70px;
    }
  }
  nav {
    grid-column: 3/4;
    margin-right: 20px;
    ul {
      align-items: center;
      justify-content: space-between;
      li {
        i {
          font-size: 20px;
        }
        button {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

.snail {
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  section {
    width: 100%;
  }
}

main {
  //for forside
  #sea-image {
    width: 100%;
    height: 300px;
    background-image: url(../img/sea-4768869_1920.jpg);
    //her har jeg brukt chatgpt. spurte hvordan kan jeg sette på et bestemt området i bakgrunns bildet
    object-fit: cover;
    background-position: 30% 30%;
  }
  .forside {
    .bestilling-form {
      background-color: white;
      width: 90%;
      margin: -250px auto 20px;
      padding: 10px;
      border-radius: 10px;
      nav {
        position: relative;
        ul {
          //jeg brukte min gamle nettside som var i host på itsud for å se hvordan jeg lagde side scroll funksjon
          overflow: auto;
          white-space: nowrap;
          margin: 10px 5px;
          li {
            padding: 3px;
            .selected {
              //jeg brukte kode fra css trick for å skjekke hvordan man kan lage tykkere understrek
              border-bottom: 3px solid var(--oceanblue);
            }
          }
        }
        #arrow-mobile {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px 10px;
          background-color: #ffffff;
          //insipierte css express sin video for å lage fade hvit bakgrunnsfarge kilde ligger i rapport
          -webkit-mask-image: linear-gradient(270deg, black 50%, transparent);
        }
      }
      form {
        flex-direction: column;
        gap: 10px;
        fieldset {
          select,
          input {
            border: none;
            width: 100%;
            font-size: 20px;
            color: gray;
          }
        }
        .colum {
          width: 100%;
          justify-content: space-between;
          fieldset {
            width: 100%;
          }
        }
        button {
          width: 100%;
          border-radius: 5px;
          background-color: var(--floweryellow);
          border: none;
          font-size: 20px;
          font-weight: bold;
          padding: 10px;
        }
      }
    }
    .reklameskilt {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      background-image: url(../img/holiday-2733322_1280.jpg);
      background-size: cover;
      height: 300px;
      border-radius: 10px;
      padding: 20px;
      article {
        width: 100%;
        background-color: var(--lightblue);
        //søkte "border radius only top" og fant løsning i stackoverflow
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px 10px;
        border-radius: 0px 10px;
        padding: 20px;
        margin: 10px 0;
        display: inline-block;
        strong {
          font-size: 30px;
          font-weight: 800;
        }
      }
      button {
        padding: 10px 5px;
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        background-color: var(--floweryellow);
      }
    }
    .tilbudseksjon {
      grid-template-columns: repeat(3, 1fr);
      margin: 20px auto;
      width: 90%;
      overflow: auto;
      white-space: nowrap;
      padding: 30px 5px;
      article {
        width: auto;
        height: 150px;
        padding: 15px;
        border-radius: 10px;
        a {
          color: var(--oceanblue);
        }
      }
    }
    .tips-inspirasjon {
      width: 90%;
      margin: 20px auto;
      //glemte å rapportere før jeg pusherut, men her brukte jeg grid youtube video til å vite hvordan kan jeg sette artikkelen til ny kolonne av seg selv når bretten til websiden blir mindre.(jeg hadde sett helevideo før jeg har startet denne oppgaven så jeg viste at det finnes tutorial på denne videoen )
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 1fr;
      gap: 1rem 1rem;
      article {
        justify-self: center;
        align-self: stretch;
        border: none;
        border-radius: 10px;
        //Jeg kunne ikke ha rundt på kant på border på toppen. så viste jeg koden til tips-insipirasjon seksjons kode og css til chatgpt og han ambefalte meg å legge overflow hidden
        overflow: hidden;
        padding-bottom: 5px;
        margin: auto;
        figure {
          position: relative;
          margin: 0;
          img {
            width: 100%;
          }
          span {
            position: absolute;
            left: 0;
            padding: 10px;
            background-color: var(--oceanblue);
            color: var(--white);
            border-radius: 0 0 20px 0;
          }
        }
        h3,
        p {
          margin: 10px 10px 20px;
        }
        a {
          border-bottom: 4px solid var(--oceanblue);
        }
      }
    }
  }

  //hotellside
  .hotellside {
    //jeg insipierte fra oblig 3 nettside jeg lagde du kan se via å scrolle på side sko bildene
    .image-gallery {
      position: relative;
      margin: 0 auto;
      padding: 0;
      .images {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        figure {
          //jeg har letet etter hvordan kan jeg justere høyden automatisk sammen med bredden og fant en youtube video handler om css høyde lenken ligger i rapport
          height: auto;
          margin: 0;
          //når jeg brukte display flex alle figure taggen ble squiza inne i image-gallery istedenfor å over flyte fra bretten til skjermen selv om jeg hadde oerflov-x auto.
          //jeg har gitt hele css og html koden til chatgpt og spurte hvordan kan jeg sette bildet uten å bli squiza og la den overflyte
          //chat gpt ambefalte meg å bruke flex 0 0 100% inne i figure og den funka.
          flex: 0 0 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .navigasjonsknapp {
        position: absolute;
        margin: 5px;
        z-index: 1;
      }
      .hjerte {
        top: 10px;
        right: 10px;
        border: none;
        background-color: var(--white);
        border-radius: 25px;
        font-size: 20px;
        padding: 5px 7px;
      }
      .hjerte:hover {
        background-color: var(--lightgray);
      }
      span {
        right: 10px;
        bottom: 10px;
        background-color: var(--black);
        color: var(--white);
        opacity: 0.4;
        padding: 5px;
        border-radius: 25px;
        i {
          padding-right: 5px;
        }
      }
      .venstre,
      .hoyre {
        background-color: var(--black);
        color: var(--white);
        opacity: 0.7;
        padding: 5px 9px;
        border: 0;
        border-radius: 25px;
      }
      .venstre {
        top: 50%;
        left: 0;
      }
      .hoyre {
        top: 50%;
        right: 0;
      }
    }
    .navigasjon {
      nav {
        margin-top: 10px;
        border-bottom: 3px solid var(--lightgray);
        ul {
          margin: 0;
          li {
            padding: 1rem;
          }
          .checked {
            border-bottom: 2px solid var(--lightblue);
          }
        }
      }
    }
    .beskrivelse {
      padding: 10px;
      .tilbyer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
      .kart {
        iframe {
          width: 100%;
          height: 300px;
        }
      }
    }
    .velg-rom {
      width: 90%;
      margin: 20px auto 0;
      .card {
        margin: 1rem auto;
        width: auto;
        border-radius: 10px;
        overflow: hidden;
        figure {
          margin: 0;
          img {
            width: 100%;
          }
        }
        h3,
        strong,
        p {
          margin: 10px 10px 20px;
        }
        h3,
        strong {
          font-size: 20px;
        }
      }
      .total-summer {
        position: sticky;
        bottom: 0;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        align-items: center;
        background-color: var(--white);
        aside {
          h3,
          p {
            margin: 5px 0;
          }
          h3 {
            font-size: 30px;
            font-weight: 800;
          }
        }
        button {
          border-radius: 30px;
          border: none;
          background-color: var(--oceanblue);
          color: var(--white);
          font-size: 20px;
          padding: 10px 15px;
        }
      }
    }
  }

  //for bestillingsside
  .betalingsside {
    nav {
      ul {
        background-color: var(--oceanblue);
        color: var(--white);
        align-items: center;
        overflow-x: auto;
        padding: 5px 15px;
        white-space: nowrap;
        border-radius: 0 0 10px 10px;
        margin: 0;
        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          a {
            color: var(--white);
            font-size: 20px;
            strong {
              font-size: 25px;
            }
          }
          i {
            font-size: 35px;
          }
        }
      }
    }
    .valgte-hotell {
      border-radius: 10px;
      //henta fra index.html da det var på nettsiden når jeg insipierte. fordi jeg slita meg å finne fra sass koden
      box-shadow: 0px 0px 10px 5px var(--lightgray);
      width: 90%;
      margin: 20px auto;
      padding: 15px 5px;
      //her insipierte Web dev simplified sin youtube video for å lage toggle knapp med kun css
      label {
        input {
          appearance: none;
          outline: none;
        }
      }
      article {
        display: none;
        margin-top: 20px;
        figure {
          width: 90%;
          border-radius: 10px;
          margin: auto;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        p {
          i {
            margin-right: 1rem;
          }
        }
      }
      label:has(input:checked) + article {
        display: block;
      }
    }
    .opplysninger {
      width: 90%;
      margin: 1rem auto;
      fieldset {
        border: none;
        border-radius: 10px;
        background-color: var(--white);
        margin: 10px auto;
        legend {
          font-size: 20px;
        }
        label {
          display: block;
          margin: 10px 0;
          font-size: 20px;
        }
        input,
        select {
          width: 100%;
          border: 1px solid var(--lightgray);
          border-radius: 5px;
          font-size: 15px;
          padding: 7px;
        }
        .field {
          width: 100%;
          padding: 0;
          display: flex;
          gap: 1rem;
          label {
            display: flex;
          }
        }
      }
      button {
        border: none;
        border-radius: 5px;
        background-color: var(--floweryellow);
        font-size: 15px;
        padding: 15px;
      }
    }
  }
}

footer {
  margin-top: auto;
  background-color: var(--black);
  color: var(--lightgray);
  justify-content: center;
  padding: 20px;
  section {
    margin-bottom: 20px;
  }

  .flagg-seksjon {
    justify-content: center;
    ul {
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        align-items: center;
        margin: 5px;
        gap: 1rem;
        img {
          width: 30px;
        }
      }
    }
  }
  .betalingsmetoder {
    figure {
      margin: 0;
      i {
        font-size: 30px;
        padding: 0 5px;
      }
    }
  }

  .nyheter {
    form {
      //spurte chatgpt hvordan kan jeg ha en brett som fits perfectly så brede som innholde inne i og han sa om å bruke inline-block
      display: inline-block;
      fieldset {
        padding: 20px 10px;
        display: inline-block;
        border: 2px solid var(--white);
        input {
          padding: 7px 5px;
          border-radius: 10px;
          margin: 0 2px;
        }
        input[type="submit"] {
          background-color: var(--floweryellow);
        }
      }
    }
  }

  .kundeservice {
    ul {
      li {
        margin: 4px 0;
        a {
          color: var(--white);
        }
      }
    }
  }

  .sosialemedier {
    ul {
      li {
        a {
          color: var(--white);
          i {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  //spurte chatgpt hvordan kan jeg ha display flex for tag som har class desktoponly siden desktoponly er satt opp med block. og chatgpt ambefalte det her.
  .flex.desktop-only {
    display: flex;
  }
  header {
    width: 100%;
    //oprettet box shadow via box shadow css generator fra nettsiden
    box-shadow: 0px 10px 12px 0px var(--lightgray);
    a {
      img {
        width: 120px;
      }
    }
    nav {
      ul {
        li {
          i {
            font-size: 25px;
          }
        }
      }
    }
  }

  .snail {
    max-width: 1400px;
  }

  main {
    #sea-image {
      height: 150px;
    }
    //forside
    .forside {
      .bestilling-form {
        width: 100%;
        margin: -80px auto 20px;
        nav {
          margin: 10px 0;
          #arrow-mobile {
            display: none;
          }
        }
        form {
          margin: 20px 0;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          fieldset {
            border-radius: 20px;
            input[type="number"] {
              width: 150px;
            }
          }
          .colum {
            gap: 10px;
            fieldset {
              select {
                width: 200px;
              }
            }
          }
          button {
            width: 300px;
          }
        }
      }
      .reklameskilt {
        background-position: 50%;
        article {
          width: 600px;
          height: 300px;
        }
      }
      .tilbudseksjon {
        width: 100%;
      }
      .tips-inspirasjon {
        width: 100%;
        //Jeg fortalte til chatgpt at jeg trengte "grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));" for å sette artikkelen til neste kolum når bretten blir mindre og fortalte og spurte at jeg trenger også sette begrensninger til tre på row og hvordan kan jeg nå målet mitt og chatgpt ambetfalte å lage en ny grid-area-colum på media query
        grid-template-columns: repeat(3, 1fr);
        h2 {
          grid-row: 1/2;
          grid-column: 1/4;
        }
      }
    }

    //hotellside
    .hotellside {
      .image-gallery {
        .images {
          //her insipirerte fra gird video fra youtube
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 1rem;

          .big-image1 {
            grid-column: 1/3;
            grid-row: 1/3;
          }

          .big-image2 {
            grid-column: 3/5;
            grid-row: 2/4;
          }

          figure {
            height: auto;
          }
        }
        .venstre,
        .hoyre {
          display: none;
        }
      }
      .colum-hotell {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:
          "oversikt kart"
          "fasiliteter kart"
          "tilbyer kart";
        .oversikt {
          grid-area: oversikt;
        }

        .fasiliteter {
          grid-area: fasiliteter;
        }

        .tilbyer {
          grid-area: tilbyer;
        }

        .kart {
          justify-self: center;
          grid-area: kart;
          iframe {
            border-radius: 10px;
          }
        }
      }
      .velg-rom {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr 1fr auto;
        gap: 2rem;

        .title {
          grid-row: 1/2;
          grid-column: 1/4;
        }
        .total-summer {
          grid-row: 4/5;
          grid-column: 1/4;
        }
      }
    }

    //betalingsside
    .betalingsside {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      align-items: start;

      nav {
        grid-column: 1/3;
        grid-row: 1/2;
        ul {
          li {
            font-size: 30px;
            a {
              font-size: 25px;
              strong {
                font-size: 30px;
                font-weight: 700;
              }
            }
          }
        }
      }
      .valgte-hotell {
        grid-column: 2/3;
        grid-row: 2/3;
        label {
          display: none;
        }
        article {
          padding: 20px;
          display: block;
        }
      }
      .opplysninger {
        grid-column: 1/2;
        grid-row: 2/3;
        fieldset {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
          .field {
            grid-column: 1/3;
          }
        }
      }
    }
  }

  footer {
    //her lagde jeg også grid funksjon ved å se på youtube video handler om grid video lenken ligger i kilde seksjon i rapport
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "flag flag flag flag"
      "betalingsmetoder nyhet kundeservice sms";

    .item1 {
      grid-area: flag;
    }
    .item2 {
      grid-area: betalingsmetoder;
    }
    .item3 {
      grid-area: nyhet;
    }
    .item4 {
      grid-area: kundeservice;
    }
    .item5 {
      grid-area: sms;
    }
  }
}
