//har skjekket på youtube hvordan kan jeg importere google font: youtube video ligger i referancen
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

//Jeg spurte chagpt at hvordan kan jeg lage farge variabel
:root {
  --lightblue: #52d3f0;
  --floweryellow: #ffcf40;
  --oceanblue: #1ca2c1;
  --black: #252525;
  --bonewhite: #e8e8e8;
  --minecraftgreen: #019101;
  --white: #f6f5f2;
}

* {
  font-family: "Montserrat", serif;
}

//css tag og class for common use
ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap1rem {
  gap: 1rem;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.header-button {
  height: 50px;
  padding: 5px 10px;
  border: 2px solid var(--oceanblue);
  border-radius: 25px;
  background-color: white;
  color: var(--oceanblue);
}

.header-button:hover {
  background-color: var(--oceanblue);
  color: var(--white);
}

//main html styles here

//har letet etter hvordan kan jeg sette footer på bunnen fast og fant youtube video forteller hvordan man gjør det lenken ligger i referance"sticky footer"
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  //her lagde jeg grid funksjon ved å se på youtube video handler om grid video lenken ligger i kilde seksjon i rapport
  grid-template-columns: auto 1fr auto;
  align-items: center;
  a {
    grid-column: 1/2;

    img {
      width: 70px;
    }
  }
  nav {
    grid-column: 3/4;
    margin-right: 20px;
    ul {
      align-items: center;
      justify-content: space-between;
      li {
        i {
          font-size: 20px;
        }
      }
    }
  }
}

main {
  max-width: 1000px;
  justify-content: center;
  section {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: 200px;
      //her har jeg brukt chatgpt. spurte hvordan kan jeg sette på et bestemt området i bildet
      object-fit: cover;
      object-position: 50% 50%;
    }
    article {
      width: 80%;
      height: 50px;
      background-color: white;
      position: absolute;
      top: 20px;
    }
  }
}

footer {
  margin-top: auto;
  background-color: var(--black);
  color: var(--bonewhite);
  justify-content: center;
  padding: 20px;
  section {
    margin-bottom: 20px;
  }

  .flagg-seksjon {
    justify-content: center;
    ul {
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        align-items: center;
        margin: 5px;
        gap: 1rem;
        img {
          width: 30px;
        }
      }
    }
  }
  .betalingsmetoder {
    figure {
      margin: 0;
      i {
        font-size: 30px;
        padding: 0 5px;
      }
    }
  }

  .nyheter {
    form {
      //spurte chatgpt hvordan kan jeg ha en brett som fits perfectly så brede som innholde inne i og han sa om å bruke inline-block
      display: inline-block;
      fieldset {
        padding: 20px 10px;
        display: inline-block;
        border: 2px solid var(--white);
        input {
          padding: 7px 5px;
          border-radius: 10px;
          margin: 0 2px;
        }
        input[type="submit"] {
          background-color: var(--floweryellow);
        }
      }
    }
  }

  .kundeservice {
    ul {
      li {
        margin: 4px 0;
        a {
          color: var(--white);
        }
      }
    }
  }

  .sosialemedier {
    ul {
      li {
        a {
          color: var(--white);
          i {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  //spurte chatgpt hvordan kan jeg ha display flex for tag som har class desktoponly siden desktoponly er satt opp med block. og chatgpt ambefalte det her.
  .flex.desktop-only {
    display: flex;
  }
  header {
    width: 100%;
    box-sizing: border-box;
    a {
      img {
        width: 120px;
      }
    }
    nav {
      ul {
        li {
          i {
            font-size: 25px;
          }
        }
      }
    }
  }

  main {
    max-width: 1400px;
  }

  footer {
    //her lagde jeg også grid funksjon ved å se på youtube video handler om grid video lenken ligger i kilde seksjon i rapport
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "flag flag flag flag"
      "betalingsmetoder nyhet kundeservice sms";

    .item1 {
      grid-area: flag;
    }
    .item2 {
      grid-area: betalingsmetoder;
    }
    .item3 {
      grid-area: nyhet;
    }
    .item4 {
      grid-area: kundeservice;
    }
    .item5 {
      grid-area: sms;
    }
  }
}
